# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local databases
*.db

# Raw / generated datasets
data/employee_productivity.csv
results/employee_analysis.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project snapshots
.snapshots/